<nav>
  <a class="icons" href="./myMovieTickets.html"
    ><img src="../images/icons/ticket.svg" alt="My Ticket page link"
  /></a>
  <a href="./home.html"
    ><img class="logo" src="../images/icons/logo.svg" alt="Home page link"
  /></a>
  <div class="navRight">
    <a href="./notification.html">
      <img
        class="notifiacation"
        src="../images/icons/notifications.svg"
        alt="Notification page link"
      />
    </a>
    <img class="menu" src="../images/icons/menu.svg" alt="menu" />
  </div>
</nav>
<article class="logOut ir">
  <button class="logOutButton">Log out</button>
</article>
